#answer {
	padding:20px;
	border:1px solid gray;
	width: 500px;
	margin-top: 20px;
}

#container {
	width:600px;
	margin:auto;
}

button {
	width:400px;

}

header {
	text-align: center;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
}

